<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/home">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" width="60" height="60" class="d-inline-block" alt="">
      Instagram 2
    </a>
    <div class="float-end">
        <!-- <button type="button" class="btn btn-outline-primary margin-right" type="submit">Add</button>-->
        <button type="button" class="btn" (click)="openModalAdd()">
          <fa-icon [icon] = "addIcon" class="add-icon margin-right"></fa-icon>
        </button>
        
      </div>
</nav>
