<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-8">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-7">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png"
                  style="width: 100px" alt="logo">
                  <h3 class="mt-1 mb-5 pb-1">Instagram 2</h3>
                </div>

                <form>
                  <h5>Log in</h5>
                  <br>

                  <div class="form-outline mb-4">
                    <input type="email" id="correologin" class="form-control"/>
                    <label class="form-label" for="correologin">Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="passlogin" class="form-control" />
                    <label class="form-label" for="passlogin">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-1 pb-1">
                    <button (click)="goToPage('Homepage')" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log in</button>
                  </div>
                </form>

              </div>
            </div>
            <div class="col-lg-5 d-flex align-items-center justify-content-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <form>
                  <h5>Sign up</h5>
                  <br>
                  
                  <div class="form-outline mb-4">
                    <input type="text" id="userregistro" class="form-control"
                      placeholder="" />
                    <label class="form-label" for="userregistro">Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="email" id="correoregistro" class="form-control"/>
                    <label class="form-label" for="correoregistro">Email</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="passregistro" class="form-control" />
                    <label class="form-label" for="passregistro">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-1 pb-1">
                    <button class="btn btn-tertiary mb-1" data-mdb-ripple-color="light" type="submit">Sign up</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>